.formulario-titulo {
    color: black;
    padding: 5px;
    text-align: center;
    font-family: sans-serif;
}

.formulario-contacto {
    width: 95%;    
}

#formulario .contenedor {
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 700px;
}

#formulario .contenedor-txa {
    max-width: 700px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
}

#formulario .contenedor-btn {
    padding: 5px;
    display: flex;
    justify-content: left;
    margin-left: 280px;
}

#boton-contacto {
    background: darkslategrey;
    color: white;
    width: 150px;
}

input {
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    border: solid 1px gray;
}

textarea {
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    border: solid 1px gray;
}

.col-48 {
    width: 48%;
}

.col-100 {
    width: 100%;
}